footer {
  @include box-sizing(border-box);
  @include clearfix;
  text-align: left;
  background: #ff6961 url(../images/footer.jpg) no-repeat center 0;
  background-size: cover;
  .container {
    padding: 40px 30px;
    @include screen('tablet') {
      padding: 30px 30px;
    }
    @include screen('mobile') {
      padding: 30px 15px;
      text-align: center;
    }
  }
  .footer_info {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);
    @include gutter();
    .footer_logo{
      margin-bottom: 10px;
      @include screen('mobile') {
        text-align: center;
        img{
          margin: 0 auto;
        }
      }
    }
    p {
      line-height: 1.65em;
      color: #fff;
      margin: 5px 0 0 75px;
      font-size: .9375rem;
      @include screen('mobile') {
        margin: 5px 0 0 0;
      }
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  .footer_icon {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);
    @include gutter(0);
    text-align: right;
    @include screen('mobile') {
      text-align: center;
    }
    ul{
      @include li-reset;
      display: inline-block;
      @include screen('mobile') {
        display: inline-block;
        clear: both;
        margin-top: 10px;
      }
      li{
        float: left;
        margin: 0 5px;
        a {
          display: inline-block;
          vertical-align: top;
          position:relative;
          img {
            width: 50px;
            height: 50px;
            position: relative;
            z-index: 10;
          }
          &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $secondaryColor;
            @include transition(all, .3s, ease-out);
            z-index: 9;
            opacity: 0;
          }
          &:hover,&:focus {
            &:before{
              opacity: 1;
            }
          }
        }

      }
    }
    .footer_link {
      margin-top: 15px;
      font-size: .9375em;
      clear: both;
      @include screen('mobile') {
        display: inline-block;
        clear: both;
        margin-top: 10px;
      }
      li {
        float: left;
        display: block;
        margin: 0;
        a {
          display: block;
          padding: .4em .6em;
          color: #fff;
          border-radius: 5px;
          @include transition(all, .3s, ease-out);
          &:before{
            display: none;
          }
          &:hover,
          &:focus {
            background: $secondaryColor;
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
}