//header
.header {
  position: relative;
  z-index: 99;
  padding: 0;
  background: #ff7b74 url(../images/header2.jpg) no-repeat center 0;
  height: 140px;
  @extend %clearfix;
  @include screen('tablet') {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0;
    background: $secondaryColor;
  }
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    @include box-sizing;
    @include screen('tablet') {
      display: block !important;
    }
  }
  >.container {
    max-width: $container-max;
    height: 100%;
    position: relative;
    padding: 25px 15px 10px 15px;
    display: flex;
    justify-content: flex-end;
    @include screen('tablet') {
      padding: 0;
      height: 100%;
      display: block;
    }
    .sidebarCtrl,.searchCtrl{
      font-size: 0;
      border:0;
      width: 60px;
      height: 60px;
      background: 0;
      border-radius: 0;
      text-align: center;
      margin: 0;
      position: absolute;
      top: 0;
      z-index: 10;
      display: none;
      @include screen('tablet') {
        display: block;
      }
      &:before{
        content: "";
        width: 60px;
        height: 60px;
        display: block;
      }
      &:hover,&:focus{
        background: darken($secondaryColor,10%);
        border: 0!important;
      }
    }
    .sidebarCtrl {
      left: 0px;
      &:before{
        background: url(../images/hamburger.png) no-repeat center center;
        background-size: 24px;
      }
    }
    .searchCtrl {
      right: 0;
      &:before{
        background: url(../images/icon_search.png) no-repeat center center;
        background-size: 24px;
      }
    }
  }
  h1 {
    width: 357px;
    height: 74px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 30px;
    @include box-sizing;
    @include screen('tablet'){
      margin: 0;
      z-index: 9;
      padding: 2px 60px;
      width: 100%;
      text-align: center;
      height: 60px;
      left:auto; 
      top: 0;
    }
    a {
      display: inline-block;
    }
    img {
      display: block;
      max-width: 357px;
      max-height: 75px;
      @include screen('tablet') {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 0px auto;
        transform: scale(.8);
      }
    }

  }
  .navigation {
    overflow: hidden;
    box-sizing:border-box;
    @include screen('tablet') {
      display: none;
    }
    ul {
      padding: 0;
      margin: 0;
      font-size: .938em;
      list-style: none;
    }
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: .4em;
        margin: 0 .5em;
        text-decoration: none;
        color: #fff;
        border-radius: 7px;
        &:hover,&:focus{
          background: $secondaryColor;
        }
        &.loginbt{
          background: $secondaryColor;
          padding: .4em 30px;
          border-radius: 25px;
          &:hover,&:focus{
            background: #11b3a9;
          }
        }
        &.menubt,&.searchbt{
          font-size: 0;
          border:0;
          width: 35px;
          height: 35px;
          background: 0;
          border-radius: 5px;
          text-align: center;
          margin: 0 4px;
          &:before{
            content: "";
            width: 35px;
            height: 35px;
            display: block;
          }
          &:hover,&:focus{
            background: $secondaryColor;
            border: 0!important;
          }
        }
        &.menubt {
          &:before{
            background: url(../images/hamburger.png) no-repeat center center;
            background-size: 24px;
          }
        }
        &.searchbt {
          &:before{
            background: url(../images/icon_search.png) no-repeat center center;
            background-size: 24px;
          }
        }
      }
    }
  }
  .loginInfo{
    position: absolute;
    right: 15px;
    bottom: -20px;
    line-height: 130%;
    color: #fff;
    padding: .5em 1.2em;
    display: flex;
    background: $primaryColor;
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    border: 1px solid rgba(255,255,255,.5);
    @include screen('tablet') {
      display: none;
    }
    .pic{
      width: 60px;
      height: 60px;
      display: block;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
      flex-shrink: 0;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .info{
      width: auto;
      .name{
        font-weight: bold;
        font-size: .9375rem;
      }
      p{
        font-size: .875rem;
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}
.waves ~.header{
  background: none;
  @include screen('tablet') {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0;
    background: $secondaryColor;
  }
}
//search
.search {
  min-width: 30%;
  max-width: 50%;
  padding: 1em 1.5em;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 70px;
  display: none;
  background:#666;
  color: #fff;
  border-radius:9px;
  z-index: 99;
  @include box-sizing;
  @include screen('tablet') {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0;
    right: 0;
    top: 60px;
    padding: 1em;
    background: rgba(0,0,0,.8);
    display: none;
  }
  label {
    font-size: 0em;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  .form_grp {
    width: 50%;
    float: left;
    margin-bottom: 0;
    position: relative; 
    @include screen('mobile') {
      width: 100%;
      float: none;
      margin-bottom: 0.5em;
    }
    input {
      padding: .4em .5em;
      margin: 0;
      border-radius: 5px;
      cursor: pointer;
      &[type="text"] {
        box-shadow:0 0 0 2px #fff inset;
        border:0;
        &:focus {
          box-shadow:0 0 0 2px $primaryColor inset;
          outline: none;
          border:0!important;
        }
      }
    }
  }
  .btn_grp {
    width: 50%;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    @include screen('mobile') {
      width: 100%;
    }
    input {
      background:$primaryColor url(../images/icon_search.png) no-repeat 10px center;
      background-size: 18px;
      border: none;
      margin: 0 0 0 6px;
      padding-left: 36px;
      cursor: pointer;
      @include screen('mobile') {
        width: 49.5%;
      }
      &:hover,
      &:focus {
        background:$secondaryColor url(../images/icon_search.png) no-repeat 10px center;
        background-size: 18px;
        outline: 0;
        border:0!important;
      }
      &:last-child{
        padding-left: 1em;
        background:#888 ;
        &:hover,
        &:focus {
          background:$secondaryColor;
          outline: 0;
          border:0!important;
        }
      }
    }
  }
  .keywordHot {
    display: block;
    padding-top: .5em;
    clear: both;
    width: 100%;
    ul {
      display: inline-block;
      font-size: .9375em;
      line-height: 1.65em;
      margin: 0;
      padding: 0;
      &:before {
        display: inline-block;
        content: "";
        color: #fff;
        float: left;
      }
      li {
        margin: 0 .6em 0 0;
        padding: 0;
        display: inline-block;
      }
      a {
        color:#fff;
        &:hover,&:focus{
          color: #ffec8c;
          text-decoration: underline;
        }
      }
    }
  }
    // m_search
    &.m_search {
      width: 100% !important;
      max-width: 100% !important;
      min-width: auto;
      height: auto;
      position: fixed;
      top: 60px;
      left: 0;
      z-index: 98;
      background: #333;
      display: none;
      border-radius: 0;
      label {
        font-size: 0em;
        line-height: 0;
      }
      .form_grp {
        width: 100%;
        label {
          display: none;
        }
        input{
          line-height: 2.5em;
          margin-bottom: 0.5em;
        }
      }
      .btn_grp {
        width: 100%;
        input{
          line-height: 2.5em;
          width: 49.5%;
          margin: 0 1% 0 0;
          &:last-child{
            margin: 0;
          }
        }
      }
    }
  }
// header fix
// .header.fixed {
//   position: fixed;
//   width: 100%;
//   right: 0;
//   top: 0;
//   box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
//   background: rgba(0, 0, 0, .75);
//   z-index: 999;
//   @include screen('mobile') {
//     background: #FFF;
//   }
//   .menu {
//     >ul {
//       >li {
//         >a {
//           color: #FFF;
//         }
//       }
//     }
//   }
// }
