.lp {
  table {
    border-top: 3px solid #009ea7;
    td {
      a {
        @include aSetting_nocolor;
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
    }
  }
  .list {
    &>ul, ol {
      list-style-type: none;
      padding: 0;
      // border-top: 2px solid $primaryColor;
      &>li {
        padding: 1em 0;
        border-bottom: 1px solid #DDD;
        position: relative; 
        .tag {
          margin-left: 2em;
        }
        &>a {
          display: block;
          padding-left: 2em;
          position: relative;
          line-height: 1.45em;
          color: $color-word;
          &:hover {
            color: $aHover;
          }
          .num {
            width: 1.5em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
              content: ".";
              display: inline-block;
            }
          }
        }
        span.dept {
          display: inline-block;
          font-size: .938em;
          color: $primaryColor;
          @include screen("mobile") {
            display: block;
          }
        }
        time {
          display: inline-block;
          margin-right: 12px;
          color: #888;
          font-size: .938em;
        }
      }
    }
  }
}
.album {
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      @include make_col(3, 1);
      overflow: visible;
      .thumbnail {
        width: 100%;
        max-width: 90%;
        margin: 0 auto 1em;
      }
    }
  }
}
