 /* sitemap */
 .sitemap {
   margin: 0px auto 1em;
   @extend %clearfix;
   p {
     font-size: .813em;
     kbd {
       border: 1px solid #AAA;
       background: transparent;
       color: $color-word;
       padding:0 .3em;
       margin: 0 .2em .1em;
       kbd {
         border: none;
       }
     }
   }
   .accesskeyDefine {
     padding: 1em 2em;
     background: #EEE;
     @include border-radius(6px);
     li {
       margin-bottom: .2em;
     }
   }
 }
 $sitemapLength : 4;
 $sitemapWidth:100%/ $sitemapLength;
 .cascading {
  padding-top: 1em;
  border-top: 1px solid #CCC;
  @include gutter(0);
  @include box-sizing;
  ul {
   @include li-reset;
 }
 li {
   line-height: 1.5;
   width: $sitemapWidth;
   display: inline-block;
   vertical-align: top;
   margin: 0 -5px 1em 0; 
   @include box-sizing;
   padding: 0px .5em;
   >a {
    margin: .2em 0;
    color: #fff;
    background: $primaryColor;
    padding: .5em 1em;
    display: block;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    &:hover,
    &:focus {
      text-decoration: none;
      background: $secondaryColor;
    }
  }
  ul {
    padding:0 1em;
    li {
     width: 100%;
     display: block;
     margin-bottom: 0;
     padding: 0;
     a {
      color: #222;
      display: block;
      font-size: 1em;
      padding: .2em 0;
      border-bottom: 1px dotted #ccc;
      background-color: transparent;
      font-weight: normal;
      border-radius: 0;
      &:hover,
      &:focus {
        color: $primaryColor;
        background: 0;
      }
    }
  }
}
}
@include screen('mobile') {
 width: 95%;
 margin: 0px auto;
 li {
   width: 100%;
 }
}
}