.sp{
	clear: both;
	@include screen('xs_mobile') {
		padding-top: 1em;
	}
}
.nece{
	font-size: 0.875rem;
	margin-bottom: 6px;
	color: #666;
}
.record{
	width: auto!important;
	@include screen('xs_mobile') {
		float: left!important;
	}
	a{
		@extend %btn;
		width: auto!important;
		color: #fff;
		background: $primaryColor!important;
		border: 1px solid $primaryColor;
		border-radius: .4em!important;
		vertical-align: top;
		display: inline-block!important;
		margin: 0 5px 0 0;
		padding: 0em 1em 0em 2.2em;
		position: relative!important;
		text-indent: 0!important;
		&:before{
			content: "";
			width: 16px!important;
			height: 16px!important;
			display: inline-block;
			background: url(../images/basic/icon_record.png) no-repeat 0 0;
			background-size: 16px;
			position: absolute!important;
			vertical-align: sub;
			left: 12px!important;
			top: 10px!important;
			filter: invert(1)!important;
		}
		&:hover,&:focus{
			color: #fff!important;
			background: $secondaryColor!important;
			border: 1px solid $secondaryColor;
		}
	}
}
.add{
	float: right;
	margin-top: -48px;
	@include screen('xs_mobile') {
		float: none;
		margin-top: 0;
		margin-bottom: 8px;
	}
	a{
		@extend %btn;
		color: #fff;
		background: $primaryColor;
		border: 1px solid $primaryColor;
		border-radius: .4em;
		vertical-align: top;
		display: inline-block;
		margin: 0 5px 0 0;
		padding: 0.4em 1em 0.4em 2.2em;
		position: relative;
		&:before{
			content: "";
			width: 16px;
			height: 16px;
			display: inline-block;
			background: url(../images/basic/icon_add.png) no-repeat 0 0;
			background-size: 16px;
			position: absolute;
			vertical-align: sub;
			left: 12px;
			top: 10px;
			filter: invert(1);
		}
		&:hover,&:focus{
			color: #fff;
			background: $secondaryColor;
			border: 1px solid $secondaryColor;
		}
	}
}
.ap{
	margin: 1em auto 2em auto;
	padding:1.8em;
	border-radius: 4px;
	border: 1px solid rgba(163,163,163,0.2);
	box-shadow: 0 0 15px rgba(0,0,0,0.05);
	position: relative;
	@include box-sizing;
	@include screen('xs_mobile') {
		border-radius: 4px;
		border: 0;
		box-shadow: none;
		padding: 0;
		margin: 0;
	}
	input[type="reset"], input[type="submit"]{
		min-width: 6em;
	}
	h3{
		margin-top: 0;
		margin-bottom: .8em;
		color: $primaryColor;
		&:before{
			content: "";
			width: 4px;
			height: 22px;
			display: inline-block;
			margin-right: 8px;
			background: $primaryColor;
			border-radius: 5px;
			vertical-align: sub;
		}
	}
	ol{
		margin-top: 0;
		li{
			margin-bottom: 10px;
		}
	}
	table{
		td{
			a{
				&.edit,&.delete{
					@extend %btn;
					color: #222;
					background: #F3F3F3;
					border: 1px solid #ddd;
					border-radius: .4em;
					vertical-align: top;
					display: inline-block;
					margin: 0 5px 0 0;
					padding: 0.4em 1em 0.4em 2em;
					position: relative;
					&:before{
						content: "";
						width: 16px;
						height: 16px;
						display: inline-block;
						position: absolute;
						opacity: .6;
						vertical-align: sub;
						left: 12px;
						top: 10px;
					}
					&:hover,&:focus{
						color: #fff;
						background: $primaryColor;
						border: 1px solid $primaryColor;
						&:before{
							filter: invert(1);
							opacity: 1;
						}
					}
				}
				&.edit{
					&:before{
						background: url(../images/basic/icon_edit.png) no-repeat 0 0;
						background-size: 16px;
					}
				}
				&.delete{
					&:before{
						background: url(../images/basic/icon_delete.png) no-repeat 0 0;
						background-size: 16px;
					}
				}
			}
		}
	}
	form{
		border-top: 0;	
		~h3{
			margin-top: 2em;
		}
		.form_grp{
			border-top: 1px dotted #DDD;
			margin-bottom: 0;
			~h3{
				margin-top: 2em;
			}
		}
	}
	.attention{
		color: #444;
		margin-bottom: 1em;
		form{
			background: #f2f2f2;
			text-align: center;
			padding: .5em 0;
			border-radius: 5px;
			margin-bottom: 0;
			label{
				margin-bottom: 0;
			}
		}
		~form{
			padding: .5em 0;
			border-top: 0;
			margin-bottom: 0;
			display: none;
			.form_grp{
				border-top: 1px solid #DDD;
				border-bottom: 1px solid #DDD;
			}
			label.form_title{
				padding-top: 6px;
			}
			.radio_grp{
				label{
					width: 20%;
				}
			}
			.btn_grp{
				padding: .5em 0 0 0;
			}
		}
	}
	.form_title,.form_content{
		@include screen('mobile') {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.form_content.form_inline{
		display: flex;
		justify-content: space-between;
		@include screen('xs_mobile') {
			display: block;
		}
		select,input[type="text"]{
			width: 49.5%;
			@include screen('xs_mobile') {
				width: 100%;
			}
		}
	}

}
.form_grp2{
	.form_title,.form_content{
		display: block;
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	.upload_btn{
		top: 0;
		border: 0;
		text-shadow: none;
		background: $primaryColor;
		&:hover,&:focus{
			border: 0!important;
			background: $secondaryColor;
		}
	}
	.file_list{
		padding: .4rem 1rem;
		background: #efefef;
		border-radius: 3px; 
		margin-bottom: 10px;
		font-size: 0.875rem;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				padding: .5em 3em .5em .5em;
				border-bottom: 1px dotted #ccc;
				position: relative;
				&:last-child{
					border-bottom: 0;
				}
				a{
					color: #222;
					display: block;
					&:hover,&:focus{
						color: $primaryColor;
						text-decoration: underline;
					}
					&.delete{
						font-size: 0;
						position: absolute;
						right: 12px;
						top: 8px;
						width: 20px;
						height: 20px;
						background: #999;
						text-align: center;
						line-height: 20px;
						border-radius: 3px;
						&:hover,&:focus{
							background: $secondaryColor;
						}
						&:before{
							content: "";
							width: 12px;
							height: 20px;
							display: inline-block;
							vertical-align: sub;
							background: url(../images/basic/icon_delete2.png) no-repeat 0 center;
							background-size: 12px;
							filter: invert(1);
						}
					}
				}
			}
		}
	}
}
